# new notebook'
with some text

In [2]:
import numpy as np
import pandas as pd

In [17]:
x = [1,2,3,4,5,6]
y = ['a','b','c','d','e','f']

In [18]:
z = pd.DataFrame(x,y)

In [19]:
z = z.reset_index()
z = z.rename(columns={'index':'letter', 0:'number'})
z

  letter  number
0      a       1
1      b       2
2      c       3
3      d       4
4      e       5
5      f       6

## End of new notebook'